<div class="testSection">Issue List</div>
<table class="issueTab">
    <tr>
        <td class="issueVals">
            <table class="issueSummaryTab">
                <tr class="issueSummaryTR">
                    <th class="isTH" width="25px"></th>
                    <th class="isTH">Priority</th>
                    <th class="isTH">Issue</th>
                    <th class="isTH">CWE</th>
                    <th class="isTH">TID</th>
                    <th class="isTH">Severity</th>
                </tr>
                {{#issues}}
                    <tr class="{{IPriorityText}}Priority" tid='{{TID}}' id='{{TID}}' _id='{{_id}}'>
                        <td class="issueDeleteTD" width="20px">
                            <button class="delete" title="Delete this issue" action="delete" tid='{{TID}}'>&times;</button></td>
                        <td class="issueTD" tid='{{TID}}'>{{IPriorityText}}</td>
                        <td class="issueTD" tid='{{TID}}'>{{TIssueName}}</td>
                        <td class="issueTD" tid='{{TID}}'>{{CweId}}</td>
                        <td class="issueTD" tid='{{TID}}'>{{TID}}</td>
                        <td class="issueTD" tid='{{TID}}'>{{TSeverityText}}</td>
                    </tr>
                {{/issues}}
            </table>
        </td></tr>
</table>


<div class="testSection">Screenshots</div>
<div id="IScreenshotsArea"></div>


