<!DOCTYPE html>
<html lang="en">

{{> headtitle}}
<link rel="stylesheet" href="/dist/bootstrap/css/bootstrap.min.css">
<script src="/dist/jquery/jquery.min.js"></script>
<script src="/dist/bootstrap/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/stylesheets/main.css">
<body>
    <div class="container">
        <nav class="navbar navbar-default" role="navigation">
            {{#if user}}
                <div>
                    <strong> WAPT Runner </strong>
                        &nbsp; &nbsp; &nbsp; &nbsp;
                    <a href="/">Home</a>
                    {{#unless user.local}}
                        &nbsp; &nbsp; | &nbsp; &nbsp;
                        <a href="/logout">Log Out</a> 
                    {{/unless}}
                </div>
            {{else}}
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/login">Log In</a>
                        </li>
                    </ul>
                </div>
            {{/if}}
        </nav>

        {{#if error}}
        <p class="alert alert-warning">{{error}}</p>
        {{/if}}

        {{#if success}}
        <p class="alert alert-success">{{success}}</p>
        {{/if}}

        {{#if notice}}
        <p class="alert alert-info">{{notice}}</p>
        {{/if}}

        {{{body}}}

        {{> footer}}
    </div>
</body>
</html>