<div id='msg' role='alert'></div>

{{#if user}}
<!-- <div class="jumbotron"> <h1>MongoDB User Authentication</h1> <p>Below is your profile information!</p> </div> -->
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Projects</h3>
    </div>

    <table class="projectList">
    {{#if projects}}
        {{#projects}}
        <tr>
            <!-- Commented-out, we're preffering that the user types the project name to avoid accidental removal
                <td class="issueDeleteTD" width="20px">
                    <button class="delete" title="Delete this project" action="delete" prjName='{{name}}'>&times;</button></td> -->
            <td class="projectEntry"><a href="/project/{{name}}">{{name}}</a></td>
            <td class="projectEntry"><a href="/testing/{{name}}">Start Testing</td>
            <td> </td>
        </tr>
        {{/projects}}
    {{else}}
        <div class="jumbotron">
            NO PROJECT! Make sure that your MongoDB has been prepared properly! Refer to the <a href='https://github.com/jourzero/waptrun/blob/master/README.md#start-app-and-db-servers-in-separate-containers'>README</a> for details. 
            If you're ready, click <strong>Create Project</strong> below</div>
    {{/if}}
    </table>

    <div>
        <button id="btnNewPrj" class="button black" title="Create a new project."
            onclick="showCreateNewProjectBtn();">Create Project</button>
        <button id="btnDelPrj" class="button black" title="Remove a project." onclick="showRemoveProjectBtn();">Remove
            Project</button>
        <button id="btnCsvExport" class="button black"
            title="Export all issue data from all projects as CSV and download."
            onclick="window.open('/export/issues.csv', 'DownloadWin')">Export all</button>
        <button id="btnViewReadme" class="button black" title="View this apps's documentation."
            onclick="window.open('Help.md', 'HelpWin')">Help</button>
        <button id="btnViewReadme" class="button black" title="View this apps's README on Github."
            onclick="window.open('https://github.com/jourzero/waptrun/blob/master/README.md', 'HelpWin')">README</button>
        <button id="btnOpenCyberchef" class="button black" title="Open Cyberchef Tool"
            onclick="window.open('/static/cyberchef/index.html', 'CyberChefWin')">CyberChef</button>
        <button id="btnOpenHackTool" class="button black" title="Open Hack Tool"
            onclick="window.open('/hacktool', 'HackToolWin')">HackTool</button>
    </div>
    <div id="newProjectDiv" hidden="true">
        <br>
        Enter new project name: <input type="text" id="newProjectInput" placeholder="YYYYMM-PRJNAME-ENV" />
    </div>
    <div id="delProjectDiv" hidden="true">
        <br>
        Enter project name to delete: <input type="text" id="delProjectInput"" />
    </div>
 
 <!--
    <div class=" panel-body">
        Static Content:
        <a href="{{TestRefBase}}/sec542/index.htm">SEC-542</a> |
        <a href="{{TestRefBase}}/sec642/index.htm">SEC-642</a> |
        <a href="{{TestRefBase}}/wahh2/index.htm">WAHHv2</a> |
        <a href="{{TestRefBase}}/websvc/Web_Services_Assessment_Methodology.pdf">Web Services</a> |
        <a href="{{TestRefBase}}/proxy.pac">Proxy Auto Config</a> 
    </div>
-->

</div>


{{else}}
<div class="jumbotron">
    <p>Hello, welcome!
        <a href="/signin" class="btn btn-primary btn-lg" role="button">
            Go to login screen
        </a>
    </p>
</div>

{{/if}}

<script src="/js/rest.js"></script>
<script src="/js/home.js"></script>