<div id='msg' role='alert'></div>

<table class="issueTab">

    <tr class="iTR">
        <th class="issueTH">Project</th>
        <td class="prjLeft">
            <input type="text" id="PrjName" class="prjIn" placeholder="YYYYMM-APP-ENV" value="{{prj.name}}" />
    </tr>

    <tr class="iTR">
        <th class="issueTH">Methodology</th>
        <td class="prjRight">
            <select id="ScopeSel" title="Scope" class="scopeSelector">
                <option disabled selected>Test Subset</option>
                <option class="scopeOpt" title="ALL" value="All">All Tests</option>
                <option class="scopeOpt" title="API" value="API">API Tests</option>
                <option class="scopeOpt" title="VRT" value="BCVRT">BugCrowd Vuln Rating Taxonomy (VRT) </option>
                <option class="scopeOpt" title="BHM" value="TBHM2015">Bug Hunter (TBHM) [*]</option>
                <option class="scopeOpt" title="T25" value="CWE-Top-25">CWE Top 25</option>
                <option class="scopeOpt" title="DEF" value="Default">Default (all stars)</option>
                <option class="scopeOpt" title="EXT" value="Extras">Extras [*]</option>
                <option class="scopeOpt" title="A10" value="OWASP-API-T10">OWASP API Top 10</option>
                <option class="scopeOpt" title="ASV" value="OWASP-ASVS">OWASP ASVS</option>
                <option class="scopeOpt" title="TG4" value="OWASP-TG4">OWASP TG4</option>
                <option class="scopeOpt" title="TG4" value="OWASP-WSTG">OWASP WSTG [*]</option>
                <option class="scopeOpt" title="542" value="SEC542">SEC542</option>
                <option class="scopeOpt" title="642" value="SEC642">SEC642</option>
                <option class="scopeOpt" title="WAH" value="WAHH2">Web App Hacker's Handbook [*]</option>
                <option class="scopeOpt" title="WSV" value="WebSvc">Web Services</option>
    <!--
                <option class="scopeOpt" title="EXT" value="TPhase: 'Extras'"       >Extras</option>
                <option class="scopeOpt" title="PCI" value="TPCI: true"             >PCI</option>
                <option class="scopeOpt" title="STD" value="TStdTest: true"         >Standard</option>
                <option class="scopeOpt" title="T10" value="TTop10: true"           >Top 10</option>
    -->
            </select></td>
    </tr>
    <tr>
        <th class="issueTH">Filter</th>
        <td class="issueVals">
            <input type="text" id="TTestNameKeyword" title="Keyword for specific tests to include" value="{{prj.TTestNameKeyword}}" placeholder="Test Name Keyword" />
            <input type="text" id="TCweIDSearch"      title="Find a tests matching a CWE ID" value="{{prj.TCweIDSearch}}" placeholder="CWE ID" />
            <input type="checkbox" id="TPCI" class="testKbCB" value="PCI" title="Subset for PCI-DSS Compliance">PCI
            <input type="checkbox" id="TTop10" class="testKbCB" value="Top10" title="Subset to cover OWASP Top 10">T10
            <input type="checkbox" id="TTop25" class="testKbCB" value="Top25"
                title="Subset to cover SANS/CWE Top 25">T25
            <input type="checkbox" id="TStdTest" class="testKbCB" value="StdTest" title="Targeted subset of tests">Std
        </td>
    </tr>

    <tr class="iTR">
        <th class="issueTH">Scope</th>
        <td class="prjLeft"><textarea id="PrjNotes" rows="2"
                placeholder="Take project notes here.">{{prj.notes}}</textarea></td>
    </tr>

    <tr class="iTR">
        <th class="issueTH">Software</th>
        <td class="prjLeft">
            <textarea id="PrjSoftware" class="testKbIn"
                placeholder="List of software components used by app (comma-separated)">{{prj.software}}
            </textarea> </td>
    </tr>

    <tr class="iTR">
        <th class="issueTH">CVE Lookup</th>
        <td class="prjRight" id="CveRptLinks"></td>
    </tr>

    <!--
    <tr class="iTR">
        <th class="issueTH">Last Test ID</th>
        <td class="prjLeft" id="LastTID">{{prj.lastTID}}</td>
    </tr>
    -->



</table>

<button id="StartTesting" class="button black" title="Start the test runner.">Start Testing</button>
<button id="btnFindingsHtmlReport" class="button black"
    title="Generate an findings report for this project in HTML and download it.">Findings Report</button>
<button id="btnFullHtmlReport" class="button black"
    title="Generate an full report (all issues except exclusions) for this project in HTML and download it.">Full
    Report</button>
<button id="btnCsvReport" class="button black"
    title="Generate an issue report for all issues in this project in CSV and download it.">CSV Report</button>
<button id="btnJsonExport" class="button black"
    title="Generate an issue export for all issues in this project in JSON and download it.">JSON Export</button>
<button id="btnViewReadme" class="button black" title="View this apps's documentation."
    onclick="window.open('/Help.md', 'HelpWin')">Help</button>
<!--
<button id="btnCsvExport"   class="button black"       title="Export all issue data from all projects as CSV and download." onclick="window.open('/issues.csv', 'DownloadWin')">Export all</button>
<button id="btnChecklist"   class="button black" title="Show methodology checklist.">Checklist</button>
<button id="btnTestApp"     class="button black" title="Show test app.">Test App</button>

MAYBE FOR LATER:
  Report Inclusions:
  &nbsp; 
  <input type="checkbox" id="ReportShowAllIssues" class="testKbCB" value="full" title="Include all findings in the report, even the remediated ones."> All Findings 
  &nbsp; 
  <input type="checkbox" id="ReportShowLeftPaneMenu" class="testKbCB" value="menu" title="Show menu in the left pane of the generated report"> Left Pane Menu
-->


<script src="/js/utils.js"></script>
<script src="/js/rest.js"></script>
<script src="/js/project.js"></script>
<script src="/js/validator.min.js"></script>
<script>
    var prjName = "{{prj.name}}";
    var cveRptBase = "{{{CveRptBase}}}";
    var cveRptSuffix = "{{{CveRptSuffix}}}";
    var scopeQry = "{{prj.scopeQry}}";

    $(document).ready(function () {
        $("#ScopeSel").val("{{prj.scopeQry}}");
        uiUpdateCveLinks();
        $("#TPCI").prop('checked', {{ prj.PciTests }});
        $("#TTop10").prop('checked', {{ prj.Top10Tests }});
        $("#TTop25").prop('checked', {{ prj.Top25Tests }});
        $("#TStdTest").prop('checked', {{ prj.StdTests }});
    });

</script>