<h4>Project: <a href="/project/{{prj.name}}">{{prj.name}}</a> ({{prj.scope}})</h4>
<div class="testingDiv">
<div class="testSection">Testing Information (KB)</div>
<table class="issueTab">
    <tr><th class="issueTH">Test</th>
        <td class="issueVals">
            <table>
                <tr> 
                    <td class="tselTD">
                            <button id="btnBack" class="button black">&lt; Back</button></td>
                    
                    <td class="tselTD">
                        <input id="testIn" value="" name="TestInput" list="testList" placeholder="Select Test" />
                    </td>
                    <td class="tselTD">
                            <button id="btnNext" class="button black">Next &gt;</button></td>
                    <td class="tinyTD">
                          <span  id="TPhase"   class="tinyText" title="Phase"></span>; 
                          <span  id="TSection" class="tinyText" title="Section"></span></td>
                </tr>
            </table>
        </td>
    </tr>
</table>    
    

<!-- TEST KB DATA -->
<table class="issueTab">
    <tr class="iTR"><th class="issueTH">Test Name</th>   <td class="issueVals">
            <input id="TTestName" class="testKbInShort" type="text" placeholder="Short name for test" />                    
            <button id="kbBtnNew" class="kbBtn">New</button></td></tr>

    <tr class="iTR"><th class="issueTH">Tester Help</th><td class="issueVals">
            <textarea id="TTesterSupport" class="testKbTA" rows="1" 
                      placeholder="Support text for tester"></textarea></td></tr>

    <tr class="iTR"><th class="issueTH">Test Ref</th>   <td class="issueVals">
            <a href="#" id="TTRefA" target="TRWin">&gt;</a> <input id="TTRef" 
                                                                   class="testKbInShort" type="text" 
                                                                   placeholder="URI reference for tester" /></td></tr> 
</table>

    
<div class="testSection">Generic Issue Data (KB)</div> 
<!-- CWE ID & SEARCH -->
<table class="issueTab">
    <tr class="iTR">
        <th class="issueTH">CWE</th>
        <td class="issueVals" id='cweTD'>
            <input id="cweIn" type="text" list="cweDL" placeholder="Search by CWE Name">
            <a class="issueA" target="cweTab" id="cweref" href="https://cwe.mitre.org/" title="Ref URI"></a></td>
        <td class="issueVals">
            <button id="updateIssueBtn" class="kbBtn" title="Click this button when KB data is changed and the issue data needs to be updated.">Update Issue</button>
        </td>
    </tr>
</table>

<!-- Issue Name -->
<table class="issueTab">
    <tr class="iTR">
        <th class="issueTH">Issue Name</th>  
        <td class="issueVals"><input id="TIssueName" class="testKbIn" type="text" 
                                     placeholder="Short issue name" /></td></tr>
</table>

<!-- Issue Background -->
<table class="issueTab">
    <tr class="iTR">
        <th class="issueTH" title="Issue Background">Background</th>  
        <td class="issueVals"><textarea id="TIssueBackground" class="issueTA" rows="1" 
                                        placeholder="Provide some background for the issue."></textarea></td></tr>
</table>

<!-- Remediation Background -->
<table class="issueTab">
    <tr class="iTR">
        <th class="issueTH" title="Remediation Background">Remediation</th>  
        <td class="issueVals"><textarea id="TRemediationBackground" class="issueTA" rows="1" 
                                        placeholder="Explain how this issue can generally be remediated."></textarea></td></tr>
</table>

<table class="issueTab">
    <tr class="iTR">                        
        <th class="issueTH">Severity</th>   
        <td class="issueVals">
            <select id="TSeverity" title="Priority" class="sevSelector" >
                <option disabled selected  value="">Severity</option>
                <option class="selOpt" value="0">Info</option>
                <option class="selOpt" value="1">Low</option>
                <option class="selOpt" value="2">Medium</option>
                <option class="selOpt" value="3">High</option>
            </select></td>
        <th class="issueTH">Issue Type</th>  
        <td class="issueVals"><input id="TIssueType" class="testKbIn" type="text" placeholder="Issue Type" /></td>                

<!--
        <th class="issueTH">Standards</th>
        <td class="issueVals"> 
            <input type="checkbox" id="TPCI"     class="testKbCB" value="PCI" 
                   title="PCI-DSS Compliance Test">PCI
            <input type="checkbox" id="TTop10"   class="testKbCB" value="Top10" 
                   title="OWASP Top 10 Test">T10
            <input type="checkbox" id="TTop25"   class="testKbCB" value="Top25" 
                   title="SANS Top 25 Most Dangerous Software Errors Tests">T25
            <input type="checkbox" id="TStdTest" class="testKbCB" value="StdTest" 
                   title="My own list of Standard Tests">Std</td></tr>
-->
    <tr class="iTR">
        <th class="issueTH">Issue Ref1</th> 
        <td class="issueVals"><a href="#" id="TRef1A" target="TRWin">&gt;</a> 
            <input id="TRef1" class="testKbInShort" type="text" placeholder="Ref 1" /></td> 

        <th class="issueTH">Issue Ref2</th>
        <td class="issueVals"><a href="#" id="TRef2A" target="TRWin">&gt;</a> 
            <input id="TRef2" class="testKbInShort" type="text" placeholder="Ref 2" /></td></tr>
</table>

    
        
<div class="testSection">Specific Issue Data</div>
<table class="issueTab">        
    <tr class="iTR"><th class="issueTH">URIs</th>       <td class="issueDetails">
            <textarea id="IURIs"        class="issueTA" rows="1" placeholder="URI list, one per line"></textarea></td></tr>
    <tr class="iTR"><th class="issueTH">Evidence</th>   <td class="issueDetails">
            <textarea id="IEvidence"    class="issueTA" rows="1" 
                      placeholder="Output from commands, HTTP payloads or exploit code with results. To prefill this field with boilerplate text, make sure the field value is empty and double-click in it."></textarea></td></tr>
    <tr class="iTR"><th class="issueTH">Paste Area</th> <td class="issueDetails">
            <textarea id="IScreenshots" class="screenshotTA" rows="1" 
                      placeholder="Paste screenshots in this field. They will be appended as HTML5 images (Base64)."></textarea></td></tr>
    <tr class="iTR"><th class="issueTH">Notes</th>      <td class="issueDetails">
            <textarea id="INotes"       class="issueTA" rows="1" 
                      placeholder="Notes explaining the issue or testing done. To prefill this field with boilerplate text, make sure the field value is empty and double-click in it."></textarea></td></tr>
    <tr class="iTR"><th class="issueTH">Priority</th>   <td class="issueDetails">
        <select id="IPriority" title="Priority" class="prioSelector" >
            <option disabled selected value="">Priority</option>
            <option class="prioOpt" value="0">Info</option>
            <option class="prioOpt" value="1">Low</option>
            <option class="prioOpt" value="2">Medium</option>
            <option class="prioOpt" value="3">High</option>
            <option class="prioOpt" value="-1">Fixed</option>
            <option class="prioOpt" value="-2">Exclude</option>
        </select>
    </td></tr>
</table>
</div>

<datalist id='testList'>
    {{#tests}}
        <option class="testOpt" value="{{TID}}" oid="{{_id}}" tSource="{{TSource}}">{{TTestName}}</option>
    {{/tests}}
</datalist>

<datalist id='cweDL'>
    {{#cwes}}
        <option value="{{ID}}">{{Name}}</option>
    {{/cwes}}
</datalist>


{{> findings}}

<hr/>
<div class="prjMeta">Metadata</div>
<ul>
    <li class="prjMeta">Status:      <span class="prjMeta" id="StatusMsg"></span></li>
    <li class="prjMeta">Last TID:    <span class="prjMeta" id="LastTID"></span></li>
    <li class="prjMeta">PrjName:     <span class="prjMeta" id="PrjName">{{prj.name}}</span></li>
    <li class="prjMeta">Scope:       <span class="prjMeta" id="PrjNotes">{{prj.notes}}</span></li>
    <li class="prjMeta">Software:    <span class="prjMeta" id="PrjSoftware">{{prj.software}}</span></li>
</ul>

<script src="/js/utils.js"></script>
<script src="/js/rest.js"></script>
<script src="/js/testing.js"></script>
<script>    
    var prjName = "{{prj.name}}";
    
    $( document ).ready(function() {
        let testCount = $("#testList").prop("options").length;
        let statusMsg = "Loaded " + testCount + " tests";
        uiUpdateStatus(statusMsg);
        uiChangeTest("{{prj.lastTID}}");        
    });
</script>
